.coming-soon {
  position: relative;
  user-select: none;
}

.coming-soon::after {
  border-radius: 4px;
  content: "¡Coming soon!";
  position: absolute;
  top: -30px;
  left: -20px;
  right: -20px;
  bottom: -30px;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #bbb;
  z-index: 1;
}